.headline-size{
    font-size: 2em;
}

.card {
    border-color: #582C4D;
}

@media (max-width: 767.98px) {
    
}

.list-group-item.active {
    background-color:#BFB5AF;
    border-color: #BFB5AF; }